<!DOCTYPE html>
<html>
<head>
	<th:block th:include="fragments/header"></th:block>
	<link href="css/login.css" rel="stylesheet"/>
	
	<title th:text="#{Register.title}">Registrarse</title>
</head>
<body>

	<!-- Language Menu -->
  	<div th:replace="fragments/languageMenu"/>

	<div class="login-page">
	  <div class="form">
	  	<p th:text="#{Login.createAccount}">Crear una cuenta</p>
	    <form class="register-form" method="post" th:action="@{/signup}" th:object="${user}">
	    
	      <input type="text" name="email" th:placeholder="#{Login.email}"/>
	      <span class="text-danger" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}"></span>
	    
	      <input type="password" name="password" th:placeholder="#{Login.password}"/>
	      <span class="text-danger" th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}"></span>
						
	      <button id="register-button" th:text="#{Register.createAccount}">Crear cuenta</button>
	      <p class="message" th:text="#{Register.alreadyRegistered}">¿Ya registrado?</p>
	      <a href="/login" th:text="#{Register.logIn}">Inicia sesión</a>
	    </form>
	  </div>
	</div>

  	<!-- Copyright Section -->
  	<section th:replace="fragments/copyright"/>
  	
	<th:block th:include="fragments/footerScripts"></th:block>
	<script src="js/login.js"></script>

</body>

</html>