/* Style buttons */
.buttonLoading {
  background-color: #d5eed8;
  border-radius: 1.5rem;
  border-style: solid;
  border-color: #000;
  color: #003871; /* White text */
  padding: 1.8rem 5rem; /* Some padding */
  font-size: 1.7rem; /* Set a font size */
  margin-top: 2.2rem;
  display: none; /* Hidden */
  cursor: not-allowed
}

.buttonLoading .fa-spin{
	margin-right: 1.2rem;
	padding-right: 0.6rem;
}

.buttonUpdate {
  background-color: #d5eed8;
  border-radius: 1.5rem;
  border-style: solid;
  border-color: #000;
  color: #003871; /* White text */
  padding: 1.4rem 5.3rem; /* Some padding */
  font-size: 1.7rem; /* Set a font size */
  margin-top: 2.2rem;
  cursor:pointer;
}