<!DOCTYPE html>
<html>
<head>
	<th:block th:include="fragments/header"></th:block>
	<title>Proxy Error</title>
</head>	
<body>
	<div class="page-error">
		<h1>
			<i class="fa fa-exclamation-circle"></i> Error al acceder al sitio web.
		</h1>
	</div>
	<!-- Copyright Section -->
  	<section class="copyright py-4 text-center text-white">
    	<div class="container">
      		<small>Copyright &copy; 2019 - TFG</small>
    	</div>
  	</section>
  	
	<th:block th:include="fragments/footerScripts"></th:block>
</body>

</html>
