<!DOCTYPE html>
<html lang="en">

<head>
	<th:block th:include="fragments/header"></th:block>
	<title th:text="#{Config.title}">Configurar el Proxy</title>
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav th:replace="fragments/navigation"/>
  
  <!-- Language Menu -->
  <div th:replace="fragments/languageMenu"/>

  <div th:if="${userLoggedIn != null}" class="welcome-message position-absolute">
	  	<p th:text="#{Config.welcome} + ', ' + ${userLoggedIn.name}">Bienvenid@, usuari@</p>
	  	<a href="/logout" th:text="#{Config.exit}">Desconectarme</a>
	  	<div class="divider-custom divider-light">
        	<div class="divider-custom-line"></div>
        </div>
  </div>

  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="/img/icon_proxy.png" alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0" th:text="#{Config.h1Title}">Página de Configuración del Proxy</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
      
      <div class="col-sm-12">
      	<i class="far fa-question-circle" data-toggle="modal" data-target="#portfolioModal0"></i>
      	<button class="buttonUpdate" onclick="hideUpdateButton();" th:text="#{Config.updateButtonState1}">Actualizar lista de sitios web</button>
      </div>
      
      <button class="buttonLoading" th:text="#{Config.updateButtonState2}" disabled>
  		 <i class="fa fa-spinner fa-spin"></i>Recargando lista...
	  </button>

    </div>
  </header>

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" th:text="#{Config.basicConfig}">Configuración básica</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

	<!-- Opciones config básicas -->
	<div class="row" id="basicFeatures">
		<div class="col-sm-12">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<i class="far fa-question-circle" data-toggle="modal" data-target="#portfolioModal1"></i>
				<span class="feature" th:text="#{Config.option1}">Quiero hacerme pasar por...</span>
				<div class="configOption">
					<div class="row">
						<select class="custom-select custom-select-sm">
							<option selected th:text="#{Config.option1_OS}">Sistema operativo</option>
							<option value="1">Windows</option>
						  	<option value="2">Android</option>
						</select>
						<select class="custom-select custom-select-sm">
						  	<option selected th:text="#{Config.option1_Nav}">Navegador</option>
						  	<option value="1">Google Chrome</option>
						  	<option value="2">Mozilla Firefox</option>
						  	<option value="3">Opera</option>
						  	<option value="4">Safari</option>
						  	<option value="5">Internet Explorer</option>
						</select>	 
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<i class="far fa-question-circle" data-toggle="modal" data-target="#portfolioModal2"></i>
				<span class="feature" th:text="#{Config.option2}">Quiero que no se sepa desde dónde navego</span>
				<div class="configOption">
					<div class="row">
						<label class="switch">
			  				<input type="checkbox">
			  				<span class="slider round"></span>
			  			</label>
		  			</div>
	  			</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<i class="far fa-question-circle" data-toggle="modal" data-target="#portfolioModal3"></i>
				<span class="feature" th:text="#{Config.option3}">No quiero navegar por sitios potencialmente peligrosos</span>
				<div class="configOption">
					<div class="row">
						<label class="switch">
			  				<input type="checkbox">
			  				<span class="slider round"></span>
			  			</label>
			  		</div>
			  	</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<i class="far fa-question-circle" data-toggle="modal" data-target="#portfolioModal4"></i>
				<span class="feature" th:text="#{Config.option4}">No quiero que me rastreen sitios de publicidad</span>
				<div class="configOption">
					<div class="row">
						<label class="switch">
			  				<input type="checkbox">
			  				<span class="slider round"></span>
			  			</label>
			  		</div>
			  	</div>
	  		</div>
		</div>
		<div class="col-sm-12">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<i class="far fa-question-circle" data-toggle="modal" data-target="#portfolioModal5"></i>
				<span class="feature" th:text="#{Config.option5}">No quiero visitar sitios con contenido pornográfico</span>
				<div class="configOption">
					<div class="row">
						<label class="switch">
			  				<input type="checkbox">
			  				<span class="slider round"></span>
			  			</label>
			  		</div>
			  	</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<i class="far fa-question-circle" data-toggle="modal" data-target="#portfolioModal6"></i>
				<span class="feature">Cualquier cosa...</span>
				<div class="configOption">
					<div class="row">
						<label class="switch">
			  				<input type="checkbox">
			  				<span class="slider round"></span>
			  			</label>
			  		</div>
			  	</div>
			</div>
		</div>
	</div>

    </div>
  </section>
  
  <hr>

  <!-- About Section -->
  <section class="page-section portfolio" id="about">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" th:text="#{Config.advancedConfig}">Configuración avanzada</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>


	<!-- Opciones avanzadas -->
	<div class="row" id="advancedFeatures">
		<div class="col-sm-12">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<i class="far fa-question-circle" data-toggle="modal" data-target="#portfolioModal7"></i>
				<span class="feature">Quiero hacerme pasar por...</span>
				<label class="switch">
	  				<input type="checkbox">
	  				<span class="slider round"></span>
	  			</label>
			</div>
		</div>
		<div class="col-md-12">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<i class="far fa-question-circle" data-toggle="modal" data-target="#portfolioModal8"></i>
				<span class="feature">Quiero que no se sepa desde dónde navego</span>
				<label class="switch">
	  				<input type="checkbox">
	  				<span class="slider round"></span>
	  			</label>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<i class="far fa-question-circle" data-toggle="modal" data-target="#portfolioModal9"></i>
				<span class="feature">No quiero navegar por sitios potencialmente peligrosos</span>
				<label class="switch">
	  				<input type="checkbox">
	  				<span class="slider round"></span>
	  			</label>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<i class="far fa-question-circle" data-toggle="modal" data-target="#portfolioModal10"></i>
				<span class="feature">No quiero que me rastreen sitios de publicidad</span>
				<label class="switch">
	  				<input type="checkbox">
	  				<span class="slider round"></span>
	  			</label>
	  		</div>
		</div>
		<div class="col-sm-12">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<i class="far fa-question-circle" data-toggle="modal" data-target="#portfolioModal11"></i>
				<span class="feature">No quiero visitar sitios con contenido pornográfico</span>
				<label class="switch">
	  				<input type="checkbox">
	  				<span class="slider round"></span>
	  			</label>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<i class="far fa-question-circle" data-toggle="modal" data-target="#portfolioModal12"></i>
				<span class="feature">Cualquier cosa...</span>
				<label class="switch">
	  				<input type="checkbox">
	  				<span class="slider round"></span>
	  			</label>
			</div>
		</div>
	</div>
	
    </div>
  </section>
  
  <th:block th:include="fragments/footer"></th:block>
  <!-- Copyright Section -->
  <section th:replace="fragments/copyright"/>
  
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
  
  <th:block th:include="fragments/modalWindows"></th:block>
  
  <th:block th:include="fragments/footerScripts"></th:block>

</body>

</html>
