
<!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Contact -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Contacto</h4>
          <p class="lead mb-0">
          <a href="https://www.linkedin.com/in/pablo-d%C3%ADaz-ranca%C3%B1o-049197166/">Mi Linkedin</a> <br>
          <a href="https://github.com/PablooD9">Mi GitHub</a>
          </p>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Acerca del Proxy</h4>
          <p class="lead mb-0">Este Proxy ha sido implementado y desarrollado por
            Pablo Díaz, estudiante de 4º curso del grado de Ingeniería Informática del Software, Oviedo.</p>
        </div>

      </div>
    </div>
  </footer>
