<div th:replace="fragments/helpFragment :: help_fragment(num='1', 
  														   title='Cambio de navegador', 
  														   content='Cuando accedemos a un sitio web se envían, entre muchas otras cosas, una cierta información relacionada con el navegador
  														   que estamos utilizando para acceder a dicho sitio. Cambiar esta información permitirá al usuario obtener un plus de privacidad en 
  														   la red.',
  														   icon='fab fa-firefox fa-5x')"></div>
  														   
<div th:replace="fragments/helpFragment :: help_fragment(num='2',
														   title='No sé', 
														   content='No sé',
														   icon='')"></div>
														   
<div th:replace="fragments/helpFragment :: help_fragment(num='3',
														   title='Navegación por sitios peligrosos', 
														   content='En la actualidad, existen multitud de sitios web que, usando ciertas técnicas más o menos complejas, permiten 
														   a un atacante robar información de los usuarios legítimos. Bloqueando el acceso a estos sitios web nos ahorraremos muchos problemas.',
														   icon='fas fa-skull-crossbones fa-5x')"></div>
														   
<div th:replace="fragments/helpFragment :: help_fragment(num='4',
														   title='La publicidad en los sitios web', 
														   content='Pese a que la mayoría de los sitios web viven de la publicidad, en ocasiones dichos sitios rastrean 
														   al usuario en busca de información útil que permita ofrecer productos que se ajusten más a dicho usuario o simplemente realizar análisis 
														   de mercado, atentando contra su privacidad en la red.',
														   icon='fas fa-ad fa-5x')"></div>
														   
<div th:replace="fragments/helpFragment :: help_fragment(num='5',
														   title='Sitios web con contenido pornográfico', 
														   content='Muchos sitios web que aseguran ser de temática para adultos atraen y se aprovechan de usuarios para inyectar algún tipo de virus en sus 
														   dispositivos, o robarles datos personales. Bloqueando este tipo de sitios estaremos más seguros.',
														   icon='fas fa-ban fa-5x')"></div>
														   
<div th:replace="fragments/helpFragment :: help_fragment(num='6',
														   title='Cualquier cosa...', 
														   content='Cualquier cosa...')"></div>	
														   													   
<div th:replace="fragments/helpFragment :: help_fragment(num='7',
														   title='TESTTITLE2', 
														   content='TESTCONTENT2')"></div>	
														   													   														   
<div th:replace="fragments/helpFragment :: help_fragment(num='8',
														   title='TESTTITLE2', 
														   content='TESTCONTENT2')"></div>	
														   													   														   
<div th:replace="fragments/helpFragment :: help_fragment(num='9',
														   title='TESTTITLE2', 
														   content='TESTCONTENT2')"></div>	
														   													   														   
<div th:replace="fragments/helpFragment :: help_fragment(num='10',
														   title='TESTTITLE2', 
														   content='TESTCONTENT2')"></div>	
														   													   														   
<div th:replace="fragments/helpFragment :: help_fragment(num='11',
														   title='TESTTITLE2', 
														   content='TESTCONTENT2')"></div>	
														   													   														   
<div th:replace="fragments/helpFragment :: help_fragment(num='12',
														   title='TESTTITLE2', 
														   content='TESTCONTENT2')"></div>		